:root {
  --cor-0: #ffffff;
  --cor-1: #f7f7f7;
  --cor-2: #ededed;
  --cor-3: #dedede;
  --cor-4: #cccccc;
  --cor-5: #b2b2b2;
  --cor-6: #9c9c9c;
  --cor-7: #717171;
  --cor-8: #595959;
  --cor-9: #404040;
  --cor-10: #2e2e2e;
  --cor-11: #111111;
  --cor-12: #000000;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.botao-secundario {
  display: inline-block;
  padding: 10px 20px;
  background: var(--cor-12);
  color: var(--cor-0);
  font-size: 12px;
  font-weight: 400;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  cursor: pointer;
  max-width: max-content;
  line-height: 1.35;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

