.img-conteudo{
    position: absolute;
    width: 100px;
    bottom: 50px;
    left: 50px;
}
.promocao{
    position: relative;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    padding: 0 64PX;
    padding-right: 0 64PX;
    padding-top: 30px;
    padding-bottom: 20px;
}
.promocao-adicional{
    display: block;
    padding-left: 69px;
}
.promocao-adicional h2{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 1.25;
    margin-bottom: 20px;
    color: #333333;
    
}
.promocao-adicional p{
    color: #333333;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}
.container-conteudo{
    background-color: #f6f6f6;
}